.nam{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;
}

.img1{
    height: 10px;
    width: 10px;
    border-radius: 10%;
}

.boo{
    color: black;
    
}

.img2{
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-top: 70px;
}

h4{
    margin-left: 110px;
    margin-bottom: 100px;
    font-family: 'Quicksand', sans-serif;
}
